{% include 'headertemplate.html' %}
<div class="main">  
<style>
    body{
        background: url('../static/image1.jpg') no-repeat;
        background-size: cover;
    }
    table, tr{
        background: white;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid black;
        padding: 10px;
        font-size: 13px;
    }
    td{
        padding: 10px;
        font-size: 13px;
    }
    input[type = 'submit'] {
        display: block;
        margin: 0 auto;
        font-size: 15px;
        font-weight: bold;
    }
    select{
        font-size: 13px;
        width: 300px;
        height: 40px;
    }
    label{
        font-weight: bold;
    }
    .textbox input {
        border: none;
        outline: none;
        background: none;
    }
</style>

<body>

<h2><center>Customer Search</center></h2>
<br>
<form method="POST" action=''>
    <table>
        <tr>
            <td><label for="custid"> Enter SSN ID:</label>
            <td><input class="textbox" type="text" name="ssnid" pattern="[0-9]{9}" placeholder=" SSN ID" required/></td>
        </tr>  
        <tr>
            <td><label for="tr_amt">Enter Customer ID:</label></td>
            <td><input class="textbox" type="text" name="custid"  placeholder="Customer ID" required/></td>
        </tr>    
        </table>
    <br>
    <input type="submit" value="VIEW">
</form>
</div>


</body>
{% include 'footertemplate.html' %}