
<div class="footer">
    <div class="row">
      <div class="column3" style="background-color:black;">
      </div>
    <div class="row">
      <div class="column" style="background-color:black;">
        <h3>About us</h3>
        <p>Some text..</p>
      </div>
      <div class="column" style="background-color:black;">
        <h3>Services</h3>
        <p>Some text..</p>
      </div>
      <div class="column" style="background-color:black;">
        <h3>Contact us</h3>
        <p>Some text..</p>
      </div>
    </div></div>
    
    </body>
    </html> 
    