<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/dashboard.css">
</head>
<body>
<div class="header">
    <h1 style="color: aliceblue;">Fed Choice Bank</h1>
<ul>
  <div class="dropdown">
    <button class="dropbtn"><a style="color: black; text-decoration: none;" href="home">Home</a>
    </button>
  </div>
<div class="dropdown">
  <button class="dropbtn">Customer Management&nbsp;<li class="arrow down"></li></button>
  <div class="dropdown-content">
  <a href="createcustomer">Create Customer</a>
  <a href="customer_search">Update Customer</a>
  <a href="deletecustomer">Delete Customer</a>
  </div>
</div>
<div class="dropdown">
    <button class="dropbtn">Account Management&nbsp;<li class="arrow down"></li></button>
    <div class="dropdown-content">
  <a href="createaccount">Create Account</a>
  <a href="deleteaccount">Delete Account</a>
  </div>
</div>
<div class="dropdown">
    <button class="dropbtn">Status Details&nbsp;<li class="arrow down"></li></button>
    <div class="dropdown-content">
      <a href="customerstatus">Customer Status</a>
      <a href="accountstatus">Account Status</a>
      <a href="accountstatementsearch">Account Statement</a>
  </div>
</div>
<div class="dropdown">
    <button class="dropbtn">Account Operations&nbsp;<li class="arrow down"></li></button>
    <div class="dropdown-content">
  <a href="depositsearch">Deposit Money</a>
  <a href="withdrawsearch">Withdraw Money</a>
  <a href="transfermoney">Transfer Money</a>
  </div>
</div>
<div class="dropdown">
  <button class="dropbtn"><a style="color: black; text-decoration: none;" href="logout">Logout</a>
  </button>
</div>
</ul>
</div>
</body>